%h1 Listing messages

%table
  %tr
    %th Email
    %th Description
    %th Sent at
    %th Time to Send
    %th
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.email
      %td= message.description
      %td= message.sent_at
      %td= (message.updated_at - message.created_at).to_f
      %td= link_to 'Show', message
      %td= link_to 'Edit', edit_message_path(message)
      %td= link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Message', new_message_path
