= form_for @site_stat do |f|
  - if @site_stat.errors.any?
    #error_explanation
      %h2= "#{pluralize(@site_stat.errors.count, "error")} prohibited this site_stat from being saved:"
      %ul
        - @site_stat.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :page_bytes
    = f.number_field :page_bytes
  .field
    = f.label :page
    = f.text_area :page
  .actions
    = f.submit 'Save'
